@model StudyLink.Domain.Entities.QuestionType

@{
    ViewData["Title"] = "Add Question Type";
}

<h2>Add QuestionType</h2>


<form asp-area="Admin" asp-area="QuestionTypeManage" asp-action="Create" id="form-container" method="post">
    <div id="form"></div>
</form>
@section Scripts {
    <script>
        $("#form").dxForm({
            id: "form",
            labelLocation: "top",
            showColonAfterLabel: false,
            formData: {},
            items: [{
                itemType: "group",
                caption: "Question Type Information",
                colCount: 2,
                items: [
                    { dataField: "typeName", isRequired: true }
                ]
            }, {
                itemType: "button",
                horizontalAlignment: "center",
                buttonOptions: {
                    text: "Submit",
                    useSubmitBehavior: true
                }
            }]
        });
    </script>
 }

