@model StudyLink.Domain.Entities.Subject

@{
    ViewData["Title"] = "Add Subject";
}

<h2>Add Subject</h2>


<form asp-area="Admin" asp-area="SubjectManage" asp-action="Create" id="form-container" method="post">
    <div id="form"></div>
</form>
@section Scripts{
<script>
        $("#form").dxForm({
            id: "form",
            labelLocation: "top",
            showColonAfterLabel: false,
            formData: {},
            items: [{
                itemType: "group",
                caption: "Subject Information",
                colCount: 2,
                items: [
                    { dataField: "subjectName", isRequired: true },
                    { dataField: "subjectCode", isRequired: true }
                ]
            }, {
                itemType: "button",
                horizontalAlignment: "center",
                buttonOptions: {
                    text: "Submit the Form",
                    useSubmitBehavior: true
                }
            }]
        });
 </script>
 }

